.portfolio-heading {
    text-align: center;
    padding-top: 72px;
    font-size: 28px;
}

.info {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: chocolate;
    padding-bottom: 32px;
}

.info-front {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: chocolate;
    padding-bottom: 3px;
}


/* COLUMNS ON CARD.JS ------------ */
.frontend-container {
    line-height: 0;
    justify-content: center;
    -webkit-column-count: 4;
    -webkit-column-gap:   0px;
    -moz-column-count:    4;
    -moz-column-gap:      0px;
    column-count:         4;
    column-gap:           0px;
}

.frontend-card {
    width: 100% !important;
    position: relative;
}

/* BACKGROUND FRONTEND WHITE HOVER ------------- */
.background-frontend {
    width: 100% !important;
    transition: filter .1s ease-in-out;
    background-color: white;
    z-index: 10;
}

.overlay-frontend {
    line-height: 130%;
    border-style: solid; 
    border-width: 2px;
    border-color: chocolate;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-top: 5px;
    position: absolute;
    top: 31%;
}

.frontend-title {
    color: chocolate;
    padding: 5px 0;
    font-size: 1.2rem;
}

.frontend-description p {
    font-size: 1rem;
    padding-top: 10px;
    text-align: justify;
}

.hide {
    display: none;
}

/* FILTERING BUTTONS FOR POTFOLIO FRONT END */
.filterItem {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1px;
}

.filterItem ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 20px;
}

/* BUTTONS-------------------------------------- */
li {
    display: inline-block;
    padding: 2px;
}

.nav-link li Button{
    text-transform: uppercase;
    font-size: 12px;
    background: none;
    border-style: none;
    font-weight: 700;
    justify-content: center;
}

.nav-link li Button:hover {
    color:#45c0be;
    text-decoration: underline wavy #45c0be 0.10rem;
    text-underline-offset: 0.2rem;
}

Button.active {
    color:#45c0be;
    text-decoration: underline wavy #45c0be 0.10rem;
    text-underline-offset: 0.2rem;
}
/* BUTTONS-------------------------------------- */

@media (hover: hover){
    .combine .frontend-card a:hover + .hide,
    .overlay-frontend:hover {
        display: block;
    }
    .background-frontend:hover,
    .combine:hover .background-frontend {
        filter: grayscale(90%);
        opacity: 20%;
    } 
}

@media (hover: none) {
    .combine .frontend-card a + .hide,
    .overlay-frontend {
        display: block;
    }
    .overlay-frontend {
        background:rgba(255, 255, 255, 0.8);
        border-width: 0px;
    }
    .frontend-description p {
        font-size: .5rem;
    }
}

.frontend-btns {
    line-height: 100%;
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    right: -42px;
    bottom: 0px;
}

.frontend-btns .btn{
    padding: 10px 10px;
    color: white;
}

/* ZOOM & ROTATE--------------------- */
.img-hover-zoom--zoom-n-rotate {
    height: 100%;
    overflow: hidden; 
}
.img-hover-zoom--zoom-n-rotate img {
    transition: transform .5s ease-in-out;
}
.img-hover-zoom--zoom-n-rotate:hover img,
.img-hover-zoom--zoom-n-rotate:active img {
    transform: scale(1.3) rotate(10deg);
}

/* RECTANGLE-OUT --------------- */
.hvr-rectangle-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
    border: none;
    position: relative;
    background: chocolate;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #45c0be;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
    color: white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media screen and (max-width: 1280px) {
    .frontend-container {
        -webkit-column-count: 3;
        -moz-column-count:    3;
        column-count:         3;
    }
}

@media screen and (max-width: 1000px) {
    .frontend-container {
        -webkit-column-count: 2;
        -moz-column-count:    2;
        column-count:         2;
    }
}

@media screen and (max-width: 740px) {
    .frontend-container {
        -webkit-column-count: 1;
        -moz-column-count:    1;
        column-count:         1;
    }
}

@media screen and (max-width: 740px) {
    .nav-link li Button:hover {
        text-decoration: none;
    }
}
